* {
  margin:0;
  padding:0;
  }
  .main_container {
	 background-color:#FDB9C8;
	 height:2500px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
	
  }
  .home_section {
	  background-color:#FF69C5;
	  width:150px;
	  height:90px;
  }
  .home_container {
	   background-color:#FF69C5;
	  width:620px;
	  height:90px;
  }
  .sub_container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    justify-content: space-between;
  }
 .sub_container1 {
	 background-color:#FF69C5;
	 width:530px;
	 height:630px;
	 
 }
.card_container {
	display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 60px;
    width: 70%;
    margin: 0 auto;
	
}
.card_1 {
	width:220px;
	height:270px;
	background-color:#FF00FF;
}
.box_container {
	width:70%;
	margin: 0 auto;
	overflow:hidden;
	margin-bottom:20px;
	border:1px solid white;
}
.box {
	background-color:#FF69C5;
	height:130px;
	width:1052px;
	
}
.class_container {
	width:80%;
	margin:0 auto;
	justify-content:space-between;
	display:flex;
	border:1px solid white;
}
.sub_container3 {
	background-color:#FF69C5;
	height:800px;
	width:535px;
}

.line_container {
	width:80%;
	margin:0 auto;
    margin-top:40px;
	border:1px solid white;
}
.line {
	background-color:#FF69C5;
	height:90px;
	width:1080px;
	
}
	
 
	  